html {
    font-size: 16px;
    /* 1rem */
    font-family: var(--font);
}


/*header*/

.header-principal nav .avatar {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-left: 5px;
    margin-top: 10px;
}

.header-principal nav .logo {
    margin-left: 25px;
    width: 18%;
}

.fa-bell {
    color: var(--gris-medio);
    background: var(--gris-claro);
    padding: 2%;
    border-radius: 100%;
    margin-left: 25 0px;
    position: relative;
    top: -10px;
}

.fa-grip-lines {
    color: var(--color-header);
    padding: 1%;
    border: 1px solid var(--color-header);
    border-radius: 4px;
    margin-left: 5px;
    position: relative;
    top: -10px;
}

.img-container {
    background-color: var(--color-header);
    color: #fff;
    line-height: 30px;
    padding: 3% 0 0 10%;
}

.img-container h1 {
    font-size: 1.8rem;
    font-weight: 600;
    width: 90%;
    margin-top: 10px;
    line-height: 40px;
}

.img-container p {
    color: var(--lila);
    font-size: 1.1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 85%;
}

.img-container .green {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: var(--font);
    font-size: 0.8rem;
    background: var(--boton-verde);
    color: #fff;
}

.img-container .gray {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-family: var(--font);
    font-size: 0.8rem;
    background: var(--gris-claro);
    color: var(--gris-oscuro);
}

button:hover {
    cursor: pointer;
}

.img-container img {
    margin-top: 60px;
    width: 90%;
}

.container {
    padding: 4% 0 0 10%;
}

.container h2 {
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--gris-oscuro);
}

.container p {
    font-size: 0.8rem;
    color: var(--gris-medio);
    margin-bottom: 30px;
}

.container span {
    color: var(--icon);
    float: left;
    background-color: var(--fondo-icon);
    font-size: 0.8rem;
    padding: 2%;
    border-radius: 100%;
    margin-right: 15px;
}

.container-cursos {
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
}

.container-cursos .card header img {
    width: 100%;
    border-radius: 5px;
}

.container-cursos .card {
    border: 1px solid rgba(190, 190, 190, 0.3);
    border-radius: 10px;
    margin: 20px 8%;
    min-height: 360px;
    width: 80%;
    background-color: #fff;
}

.container-cursos .card header {
    display: block;
}

.container-cursos .card p {
    padding: 0 4%;
    margin-top: 10px;
}

.container-cursos h2 {
    color: var(--gris-oscuro);
    font-size: 1.2rem;
    font-weight: 600;
    float: left;
    padding: 8% 0 0 8%;
}

.container-cursos button {
    padding: 5px;
    width: 70px;
    border-radius: 3px;
    border: 1px solid var(--color-header);
    font-family: var(--font);
    font-size: 0.8rem;
    background: var(--gris-claro);
    color: var(--color-header);
    margin-top: 40px;
}

.container-cursos .recommended button {
    margin-left: 212px;
}

.container-cursos .popular button {
    margin-left: 288px;
}

.container-cursos .trending button {
    margin-left: 330px;
}

footer {
    font-size: 0.8rem;
    color: var(--gris-medio);
    border-top: 1px solid rgba(117, 117, 117, 0.3);
}

footer span {
    line-height: 20px;
    margin-left: 45px;
}

footer nav {
    padding: 3%;
    margin-bottom: 5px;
    text-decoration: none;
    margin-left: 100px;
    word-spacing: 15px;
}

@media only screen and (max-width: 600px) {
    .header-principal a {
        display: none;
    }
    .header-principal input {
        display: none;
    }
    .fa-bell {
        margin-left: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .header-principal a {
        display: none;
    }
    .header-principal input {
        display: none;
    }
    .fa-bell {
        margin-left: 460px;
        padding: 1.4%;
    }
    .img-container {
        padding: 3% 0 0 6%;
    }
    .img-container img {
        margin-top: 60px;
        width: 90%;
    }
    .container {
        height: 120px;
    }
    .container h2 {
        font-size: 1rem;
    }
    .container p {
        font-size: 0.9rem;
    }
    .container .access {
        position: relative;
        margin-left: 50%;
        top: -135px;
    }
    .container .access span {
        font-size: 1rem;
        padding: 2.8%;
    }
    .img-container {
        display: flow-root;
        width: 100%;
    }
    .img-container img {
        width: 75%;
        float: left;
        margin-left: 10%;
    }
    .img-container h1 {
        font-size: 2.1rem;
        font-weight: 600;
        width: 90%;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .img-container p {
        font-size: 1.2rem;
        width: 90%;
        margin-bottom: 30px;
    }
    .img-container .green {
        padding: 14px;
        font-size: 0.9rem;
    }
    .img-container .gray {
        padding: 14px;
        font-size: 0.9rem;
    }
    .container-cursos {
        padding: 1%;
        width: 100%;
        display: flow-root;
    }
    .container-cursos .recommended {
        margin-left: 40px;
        margin-top: 40px;
    }
    .container-cursos .card {
        width: 43%;
        margin: 1% 1% 3% 4%;
        float: left;
    }
    .container-cursos .popular {
        width: 100%;
        margin-left: 40px;
    }
    .container-cursos .trending {
        width: 100%;
        margin-left: 40px;
    }
    .container-cursos .recommended button {
        margin-left: 370px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .container-cursos .popular button {
        margin-left: 470px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .container-cursos .trending button {
        margin-left: 520px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .container-cursos h2 {
        font-size: 1.5rem;
        padding: 0;
    }
    footer {
        background: var(--gris-claro);
        padding-bottom: 20%;
        border-top: none;
    }
    footer span {
        margin-top: 20px;
        float: left;
    }
    footer nav {
        float: right;
    }
}

@media only screen and (min-width: 1024px) {
    .header-principal {
        height: 55px;
    }
    .header-principal a {
        display: inline;
        color: var(--gris-oscuro);
        text-decoration: none;
        position: relative;
        margin-left: 45px;
        top: -52px;
        left: 12%;
    }
    .header-principal input {
        display: inline;
        position: relative;
        padding: 8px;
        width: 200px;
        border-radius: 3px;
        border: 1px solid var(--gris-claro);
        margin-left: 18%;
        top: -55px;
        font: var(--font);
        font-size: 0.9rem;
    }
    .header-principal nav .logo {
        margin-left: 30px;
        width: 10%;
        position: relative;
        top: -9px;
    }
    .header-principal nav .avatar {
        position: relative;
        top: -5px;
        width: 40px;
        height: 40px;
    }
    .fa-bell {
        padding: 1.3%;
        margin-left: 75%;
        position: relative;
        top: -18px;
    }
    .fa-grip-lines {
        display: none;
    }
    .img-container {
        height: 310px;
    }
    .img-container img {
        width: 42%;
        float: right;
        margin-right: 12%;
        margin-top: -242px;
    }
    .img-container h1 {
        width: 45%;
        font-size: 2.2rem;
        line-height: 40px;
    }
    .img-container p {
        width: 45%;
    }
    .container-cursos .card {
        width: 21%;
        margin: 0 1% 0 2%;
        float: left;
    }
    .container-cursos .popular h2 {
        margin-top: 40px;
    }
    .container-cursos .trending h2 {
        margin-top: 40px;
    }
    .container-cursos .recommended button {
        margin-left: 860px;
        margin-top: 0;
    }
    .container-cursos .popular button {
        margin-left: 860px;
        margin-top: 0;
    }
    .container-cursos .trending button {
        margin-left: 860px;
        margin-top: 0;
    }
    .container {
        height: 60px;
        display: flow-root;
    }
    .container .courses {
        float: left;
        width: 30%;
        margin-right: 20px;
    }
    .container .courses span {
        padding: 7%;
    }
    .container .access {
        position: relative;
        margin-left: 65%;
        top: -70px;
    }
    .container .access span {
        padding: 5%;
    }
}