:root {
    --font: 'Inter', sans-serif;
    --color-header: #754FFE;
    --lila: #e3dcff;
    --gris-claro: #f5f4f8;
    --gris-medio: #5c5776;
    --gris-oscuro: #18113c;
    --boton-verde: #19CB98;
    --icon: #c28135;
    --fondo-icon: #ffeeda;
}